$text-color: #4f586b;
$text-white: #fff;

$input-border-color: rgba(183, 92, 255, 0.3);
$input-error: red;
$placeholder-color: #8b92ab;

$footer-color: #3b455a;

$decoration-color-green: rgba(150, 255, 92, 0.3);
$decoration-color-blue: rgba(92, 168, 255, 0.3);
$decoration-color-turquoise: rgba(92, 255, 237, 0.3);
$decoration-color-pink: rgba(255, 97, 97, 0.3);
$decoration-color-violet: rgba(183, 92, 255, 0.3);

$button-color: linear-gradient(236.84deg, #9C8BEA 1.49%, #544695 105.35%);

$breakpoint-large-screen: 1500px;
$breakpoint-large-tablet: 1080px;
$breakpoint-medium-tablet: 920px;
$breakpoint-small-tablet: 760px;
